* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action: none;
  overscroll-behavior: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, system-ui,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  overflow: hidden;
  background-color: #121212;
}
#app {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  canvas {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: crosshair;
    image-rendering: crisp-edges;
  }
}

*.hidden {
  display: none !important;
}

#ui {
  .top {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 10;
    padding: 4px;
    &_button {
      background-color: #999;
      text-transform: uppercase;
      padding: 4px 12px;
      cursor: pointer;
      user-select: none;
      font-weight: 500;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        opacity: 0.8;
      }
    }
  }
  .sidebar {
    flex-direction: column;
    color: #e6e6e6;
    width: 250px;
    background-color: #333;
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 260px;
    align-items: center;
    padding: 10px;

    #color_slider {
      margin-bottom: 12px;
      cursor: crosshair;
    }
    #color_picker {
      cursor: crosshair;
    }
    .color_picker-wrapper,
    .color_slider-wrapper {
      position: relative;
      .cursor {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #121212;
        left: 0;
        top: 240px;
      }
    }
    .color_slider-wrapper {
      .cursor {
        border-radius: 0;
        height: 50px;
        top: 0;
      }
    }
  }
  .header {
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    padding-top: 2px;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: 600;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    width: calc(100% + 20px);
    gap: 16px;
    margin: -10px;
    margin-bottom: 12px;
    user-select: none;
    padding: 10px;
    border-bottom: 1px solid #121212;
    &:hover {
      background-color: #222;
    }
    img {
      width: 32px;
    }
    .info_btn {
      font-size: 0.5rem;
      text-align: right;
      width: 100%;
    }
  }

  .controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    user-select: none;
  }
  .input_wrapper {
    display: flex;
    gap: 8px;
    width: 100%;
    font-size: 0.8rem;
    > span {
      flex-basis: 60px;
    }
    .slider {
      background-color: #e9e9e9;
      border-radius: 4px;
      flex-grow: 1;
      color: #000;
      text-align: right;
      position: relative;
      .bg {
        border-radius: 4px;
        background-color: #aaa;
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
      }
      span.value {
        user-select: none;
        right: 0;
        z-index: 2;
        position: absolute;
        padding-right: 4px;
      }
    }
  }

  .tabs {
    width: calc(100% + 20px);
    margin-top: 12px;
    margin-left: -10px;
    margin-right: -10px;
    &__buttons {
      display: flex;
      border-bottom: 1px solid #333;
      &__item {
        flex-basis: 50%;
        background-color: #444;
        padding: 2px 8px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        cursor: pointer;
        &.active {
          background-color: #666;
        }
      }
    }
    &__content_list {
      flex-direction: column;
      max-height: calc(100vh - 79px - 66px - 250px - 53px);
      overflow: auto;
      gap: 1px;
      padding-bottom: 150px;
      display: none;
      .btns {
        display: flex;
        height: 35px;
        padding: 4px;
      }
      .input_wrapper {
        position: sticky;
        top: 0;
        background-color: #333;
        padding: 4px;
      }
      &.active {
        display: flex;
      }
      &__item {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 50px;
        padding: 0 8px;
        border-bottom: 1px solid #444;
        cursor: pointer;
        position: relative;
        .delete {
          position: absolute;
          right: 6px;
          cursor: pointer;
          height: 24px;
          width: auto;
        }
        &.active {
          background-color: #666;
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
      &__item.layer {
        flex-shrink: 0;
        .text {
          display: flex;
          flex-direction: column;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          user-select: none;
          .user {
            font-size: 0.7rem;
            color: #ccc;
          }
        }
        img:first-of-type {
          width: 16px;
          height: 16px;
        }
      }
      .icon {
        width: 12px;
      }
    }
  }
}
.modal {
  position: fixed;
  top: 20%;
  background-color: #333;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  border-radius: 8px;
  color: #e6e6e6;
  z-index: 15;
  min-width: 320px;
  max-width: 450px;
  .title {
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
  p {
    font-size: 1rem;
    line-height: 120%;
  }
  .btns {
    display: flex;
    justify-content: end;
    margin-top: 8px;
    gap: 8px;
  }
  &.info {
    > div:first-of-type {
      display: flex;
      gap: 4px;
      flex-direction: column;
    }
  }
  &.login {
    > div:first-of-type {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}
input {
  padding: 6px 8px;
  border: 0;
  border-radius: 4px;
}

button {
  background-color: #e6e6e6;
  color: #121212;
  border: none;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #dedede;
  }

  &:active {
    background-color: #c5c5c5;
  }
}
.modalBg {
  background-color: #121212;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  &.hidden {
    display: none;
  }
}
.key {
  display: inline-block;
  background-color: #222;
  border-radius: 4px;
  padding: 0 12px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

#app > .user {
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -32px;
    left: -32px;
    border: 2px solid #25c125;
    border-radius: 50%;
  }
  position: fixed;
  z-index: 1;
  background-color: #25c125;
  top: 24px;
  left: 24px;
  color: #000;
  padding: 4px 12px;
  border-radius: 4px;
}

.icon_buttons {
  display: flex;
  width: 100%;
  .icon_button {
    width: 42px;
  }
}

.icon_button {
  border: 2px solid #2b2b2b;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
  &:hover {
    background-color: #2f2f2f;
  }
  &.active,
  &:active {
    background-color: #222;
  }
}

.chat {
  background-color: #333;
  width: 300px;
  height: 375px;
  position: relative;
  overflow: auto;
  position: fixed;
  transition: all 0.5s;
  position: fixed;
  left: 8px;
  bottom: 0;
  z-index: 1000;
}

.chat.hide {
  height: 30px;
}

.chat .header {
  height: 30px;
  background-color: #222;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

.chat .header img {
  position: absolute;
  right: 8px;
  width: 32px;
  top: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.chat.hide .header img {
  transform: rotate(180deg);
}

.chat .header img:hover {
  opacity: 0.7;
}

.chat .header img:active {
  opacity: 0.5;
}

.chat .message_list {
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 295px;
}

.chat .message_wrapper {
  display: flex;
  gap: 8px;
}

.chat .message_wrapper .avatar {
  width: 32px;
  height: 32px;
  background-color: #25c125;
  flex-shrink: 0;
  border-radius: 4px;
}

.chat .message_wrapper .message {
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.chat .message_wrapper .message .user {
  font-size: 0.8rem;
}

.chat .input_wrapper {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.chat .input_wrapper img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 50px;
  cursor: pointer;
}

.chat .input_wrapper input {
  height: 50px;
  padding: 0 8px;
  width: 100%;
  padding-right: 54px;
}

.chat .input_wrapper img:hover {
  opacity: 0.7;
}

.chat .input_wrapper img:active {
  opacity: 0.5;
}
