*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action: none;
  overscroll-behavior: none;
}
body{
  overflow: hidden;
  background-color: #121212;
}
#app{
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  canvas{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: crosshair;
  }
}